.playtoearn{
	background: #3D2C75;
	&__header{
		position: relative;
		.el__bg{
			position: relative;
			padding-top: 48%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			min-height: 600px;
		}
		.el__box{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 840px;
			margin: 0 auto;
			padding: 50px 60px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.11), rgba(255, 255, 255, 0.11));
			backdrop-filter: blur(123px);
			-webkit-backdrop-filter: blur(123px);
			border-radius: 24px;
			font-size: 16px;
			&__title{
				font-family: UTM Akashi;
				font-weight: normal;
				font-size: 72px;
				line-height: 82px;
				text-transform: uppercase;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				margin-bottom: 30px;
			}
			p+p{
				margin-top: 10px;
			}
		}
	}
	&__value{
		position: relative;
		padding: 100px 0 400px;
		.el__box{
			margin-top: 100px;
			margin-bottom: 170px;
		}
		.table{
			table-layout: fixed;
			color: #fff;
			td{
				&:first-child{
					width: 100px;
				}
				&:nth-child(2){
					width: 300px;
				}
				padding: 24px 0;
				border-bottom: 1px solid rgba(255, 255, 255, .1)!important;
				&:not(:last-child){
					padding-right:24px;
				}
			}
			ul{
				list-style: disc;
				padding-left:16px;
			}
		}
	}
	&__slider{
		position: relative;
		padding-bottom:60px;
		&__wrap{
			position: relative;

		}
		.flickity__slider__arrow {
		    padding: 0 0;
		}
		.slider__item__wrap{
			display: flex;
			min-height: 100%;
		}
		.el__item{
			width: 100%;
			font-size: 14px;
			padding:16px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07));
			backdrop-filter: blur(32px);
			-webkit-backdrop-filter: blur(32px);
			border-radius: 16px;
			&__thumb{
				margin-bottom: 24px;
			}
			&__title{
				font-family: UTM Akashi;
				font-weight: normal;
				font-size: 24px;
				line-height: 29px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
		}
	}
	&__bg{
		&:before {
		    content: '';
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 41%;
		    min-width: 250px;
		    height: 100%;
		    max-height: 430px;
		    background: url(../img/home-footer-left.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    background-position: bottom left;
		    pointer-events: none;
		}
	}
	@media (max-width: 1199px){
		&__header{
			.el__box__title {
			    font-size: 48px;
			    line-height: normal;
			}
		}
		&__value {
		    padding: 80px 0 280px;
		    .el__box {
			    margin-top: 80px;
			    margin-bottom: 100px;
			}
		}
		&__slider{
			 .el__item__title {
			    font-size: 20px;
			}
		}

	}
	@media (max-width: 991px){
		&__header{
			.el__bg{
				min-height: auto;
			}
			.el__box{
				position: relative;
				margin-top: -100px;
				max-width: 80%;
			}
		}
		&__value{
    		padding: 80px 0 200px;
			.table{
				td:first-child {
				    width: 60px;
				}
				td:nth-child(2) {
				   width: 200px;
				}
			}

		}
	}
	@media (max-width: 767px){
		&__header{
			.el__box{
				position: relative;
				padding: 30px;
				&__title {
				    font-size: 38px;
				    line-height: normal;
				}
			}

		}
		&__value {
		    padding: 80px 0 150px;
		    .table {
			    font-size: 14px;
			    td {
				    padding: 16px 0;
				    &:not(:last-child) {
					    padding-right: 16px;
					}
				}

			}
		}
	}
	@media (max-width: 575px){
		&__header .el__box {
		    margin-top: 30px;
		    max-width: 90%;
    		padding: 24px;
		}

		&__value{
			.el__box {
			    margin-top: 50px;
			    margin-bottom: 60px;
			}
			.table{
				td{
					&:first-child {
					    width: 40px;
					}
					&:nth-child(2) {
					    width: auto;
					}
				}
			}
		}
	}
}